* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* text-decoration: none; */
    background: #74ccf4;
}

.map {
    text-align: center;
}

svg {
    margin: auto;
    width: 82%;
}

/* ----------------------------------------- */

/*
* Reserved class names:
* .eu - for members of European Union
* .eaeu - for members of Eurasian Economic Union
*/

.circlexx {
    opacity: 0;
    fill: #c0c0c0;
    stroke: #000000;
    stroke-width: 0.5;
}

.subxx {
    opacity: 0;
    fill: #c0c0c0;
    stroke: #000000;
    stroke-width: 0.3;
}

.landxx {
    fill: #c0c0c0;
    stroke: #ffffff;
    stroke-width: 0.5;
    fill-rule: evenodd;
}

.coastxx {
    stroke-width: 0.5;
}

.antxx {
    opacity: 1;
    fill: #c0c0c0;
}

.noxx {
    opacity: 0;
    fill: #c0c0c0;
    stroke: #000000;
    stroke-width: 0.5;
}

.limitxx {
    opacity: 0;
    fill: #c0c0c0;
    stroke: #ffffff;
    stroke-width: 0.2;
    fill-rule: evenodd;
}

.unxx {
    opacity: 0;
    fill: #c0c0c0;
    stroke: #000000;
    stroke-width: 0.3;
}

.oceanxx {
    opacity: 1;
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 0.5;
}

.orange { fill: #ff8b3c; transition: .3s linear; }
.blue { fill: #006aff; transition: .3s linear; }
.red { fill: #ff4d4d; transition: .3s linear; }
.yellow { fill: #ffd008; transition: .3s linear; }
.purple { fill: #b96eff; transition: .3s linear; }
.green { fill: #37e362; transition: .3s linear; }
.none { fill: #ffffff; transition: .3s linear; }

.orange:hover, .blue:hover, .red:hover, .yellow:hover, .purple:hover, .green:hover {
    filter: brightness(1.5);
    transition: .3s linear;
}