* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* text-decoration: none; */
    background: #74ccf4;
}

.map {
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: baseline;
}

svg {
    margin: auto;
    width: 100vh;
    height: 100%;
}

.orange { fill: #ff8b3c; }
.blue { fill: #006aff; }
.red { fill: #ff4d4d; }
.yellow { fill: #ffd008; }
.purple { fill: #b96eff; }
.green { fill: #37e362; }
.none { fill: #ffffff; }

.orange:hover, .blue:hover, .red:hover, .yellow:hover, .purple:hover, .green:hover {
    filter: contrast(200%);
}